.Homepage-name {
    display: inline-block;
    margin-left: 25px;
    font-family: 'Oswald', sans-serif;
    font-size: 10vh;
    color: #f9f9f9;
}

.Homepage-textContainer {
    margin-top: 5vh;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
}

.Homepage-nameAndPicContainer {
    height: 150px;
    display: flex;
    align-items: center;
}

.Homepage-textLine {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #f9f9f9;
}

.Homepage-clickable {
    color: #6f1add;
}

.Homepage-picContainer {
    display: inline-block;
    margin-left: 148px;
    margin-bottom: -30px;
}