.Portfolio-flexContainer {
    height: 98vh;
    width: 99vw;
    display: flex;
    align-items: center;
}

.Portfolio-centeredContainer {
    margin-left: 80px;
    margin-right: 80px;
}

.Portfolio-portfolioLink {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #f9f9f9;
    margin-bottom: 30px;
}

.Portfolio-portfolioLink:hover {
    color: #b7c0cf;
}